@import 'styles/_variables.scss';

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid $color-codgray;
  border-left-color: $color-melrose;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  animation: donut-spin 1.2s linear infinite;

  &__wrapper {
    @extend %col;
    position: relative;
    height: 4rem;
    width: 4rem;

    svg {
      color: $color-melrose;
      font-size: 1.2rem;
    }
  }
  
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}