@import 'styles/_variables.scss';

.container {
  @extend %col;
  max-width: $body-max-width;
  margin: auto;
}

.connect {
  @extend %row;
  margin-left: 2rem;
  margin-top: 2rem;
  a {
    margin-left: 1.5rem;
    @extend %btn-secondary;
  }
}

.header {
  img {
    height: 8rem;
    width: auto;
  }
  margin-bottom: 2rem;
}

.hero {
  position: relative;
  height: 20vh;
  width: 100vw;
  video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
  }
  &__wrapper {
    @extend %col;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(black, 0.9);
  }
}

.content {
  margin: 4rem 4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  &__wrapper {
    @extend %col;
    position: relative;
    justify-content: space-between;
    border-radius: 0.5rem;
    border: 1px solid rgba(#e15d98, 0.4);
    padding: 1rem 1.5rem;
    background-color: $color-mineshaft;

    span {
      margin: 1rem 0.5rem 0;
      text-align: center;
      line-height: 1.6rem;
      // font-weight: 300;
      font-size: 0.85rem;
    }

    svg {
      height: 2.2rem;
      width: 2.2rem;
    }

    img {
      height: 1.4rem;
      margin-top: 0.5rem;
      width: auto;
    }

    &__number {
      position: absolute;
      padding: 0.5rem 0.75rem;
      right: -1rem;
      top: -1rem;
      font-size: 0.9rem;
      font-weight: bold;
      border-radius: 0.5rem;
      background-color: $color-yellowsin;
      color: $color-codgray;
    }
  }
}
