@import 'styles/_variables.scss';

.container {
  @extend %col;
  max-width: $body-max-width;
  margin: 4rem auto;
}

.connect {
  margin-top: 2rem;
}

.header {
  @extend %row;
  font-size: 1.15rem;
  font-weight: 500;
  svg {
    margin-right: 0.5rem;
  }
}
