@import 'styles/_variables.scss';

.experience {
  @extend %col;
  position: relative;
  justify-content: space-between;
  background-color: $color-woodsmoke;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
  padding: 1.25rem 1.5rem;
  height: 100%;
  box-shadow: 4px 4px 6px black;
  &__title {
    font-weight: 500;
  }
  img {
    height: 6rem;
    width: auto;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }
  &__description {
    position: block;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0.5rem 0 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  button {
    margin-top: auto;
    @extend %btn-primary;
  }
}

.xp {
  border-radius: 0.5rem;
  background-color: lighten($color-melrose, 7);
  position: relative;
  height: 2rem;
  width: 14rem;
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    height: 100%;
    background-color: $color-melrose;
    z-index: 2;
  }
  &__text {
    color: black;
    text-align: center;
    width: 100%;
    font-family: $font-mono;
    position: absolute;
    padding: 0.5rem 1rem;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

.limited {
  position: absolute;
  top: -1rem;
  right: -1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  background-color: $color-yellowsin;
  color: black;
  text-align: center;
  span {
    font-weight: 500;
  }
  small {
    display: block;
    font-size: 0.6rem;
  }
}

.modal {
  @extend %col;
  &__header {
    font-size: 1.2rem;
    padding: 1rem 0 2rem;
    font-weight: 500;
  }

  &__details {
    @extend %col;
    margin: 2rem 0;
    background-color: $color-codgray;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
  }
  img {
    height: 5rem;
    width: auto;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  &__amount {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__choose {
    margin-top: 0rem;
    font-weight: bold;
  }

  &__nfts {
    @extend %row;
    flex-wrap: wrap;
    &__asset {
      @extend %col;
      margin: 1rem;
      border: solid 2px rgba($color-hope, 0);
      transition: ease-in-out;
      padding: 0.5rem;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: 0.1s ease-in-out;
      img {
        height: 2rem;
        width: auto;
      }
      small {
        text-align: center;
      }
      &:hover {
        border-color: rgba($color-hope, 0.2);
      }
      &--selected {
        border-color: rgba($color-hope, 1);
        &:hover {
          border-color: rgba($color-hope, 1);
        }
      }
    }
  }
  button {
    margin-top: 2rem;
    @extend %btn-primary;
    @extend %btn-primary--hope;
  }
}
